<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">
                Contacts
                <button class="btn btn-sm btn-primary pull-right" (click)="fnRedirectToAddContact()">
                    <span class="glyphicon glyphicon-plus"></span></button>
            </h3>
            <ol class="breadcrumb">
                <li class="active" [routerLink]="['/contacts']" role="button">
                    <i class="glyphicon glyphicon-earphone"></i> Contacts
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-sm-12 col-md-12 m-b-10">
            <input class="form-control" type="text" [(ngModel)]="contactSearch" (keyup)="0" placeholder="Search..."/>
        </div>
        <div class="col-sm-12 col-md-12">
            <div *ngIf="isLoading" class="text-center">
                <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
            </div>
            <div *ngIf="!isLoading && contactList.length !== 0" class="list-group m-b-10">
                <a href="javascript:void(0);" class="list-group-item"
                   *ngFor="let contact of contactList |  filterData: contactSearch">
                    <span class="h4">{{contact.name}}</span><br>
                    <span class="h6">{{contact.email}}</span><br>
                    <span class="h6">{{contact.phone}}</span>

                    <div class="pull-right">
                        <button [routerLink]="['/contactform', contact._id]" class="btn btn-xs btn-info">
                            <span class="glyphicon glyphicon-edit"></span></button>
                        <button class="btn btn-xs btn-danger" (click)="open(contact)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                </a>
            </div>
            <div *ngIf="!isLoading && contactList.length === 0" class="text-center">
                <h4>Click&nbsp;<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;to add contact.</h4>
            </div>
        </div>

        <modal #DeleteModal [keyboard]="false" [backdrop]="'static'">
            <modal-header [show-close]="true">
                <h4 class="modal-title">Delete contact</h4>
            </modal-header>
            <modal-body>
                Would you like to delete this contact ?
            </modal-body>
            <modal-footer>
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel
                </button>
                <button type="button" class="btn btn-danger" (click)="fnDeleteContact(deleteContactId)">Delete</button>
            </modal-footer>
        </modal>
    </div>
</div>
