.m-n {
    margin: 0 !important;
}

.m-t-0 {
    margin-top: 0 !important;
}

.m-t-1 {
    margin-top: 1px !important;
}

.m-t-2 {
    margin-top: 2px !important;
}

.m-t-3 {
    margin-top: 3px !important;
}

.m-t-4 {
    margin-top: 4px !important;
}

.m-t-5 {
    margin-top: 5px !important;
}

.m-t-6 {
    margin-top: 6px !important;
}

.m-t-7 {
    margin-top: 7px !important;
}

.m-t-8 {
    margin-top: 8px !important;
}

.m-t-9 {
    margin-top: 9px !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-t-11 {
    margin-top: 11px !important;
}

.m-t-12 {
    margin-top: 12px !important;
}

.m-t-13 {
    margin-top: 13px !important;
}

.m-t-14 {
    margin-top: 14px !important;
}

.m-t-15 {
    margin-top: 15px !important;
}

.m-t-16 {
    margin-top: 16px !important;
}

.m-t-17 {
    margin-top: 17px !important;
}

.m-t-18 {
    margin-top: 18px !important;
}

.m-t-19 {
    margin-top: 19px !important;
}

.m-t-20 {
    margin-top: 20px !important;
}

.m-t-21 {
    margin-top: 21px !important;
}

.m-t-22 {
    margin-top: 23px !important;
}

.m-t-24 {
    margin-top: 24px !important;
}

.m-t-25 {
    margin-top: 25px !important;
}

.m-t-30 {
    margin-top: 30px !important;
}

.m-t-35 {
    margin-top: 35px !important;
}

.m-t-40 {
    margin-top: 40px !important;
}

.m-t-45 {
    margin-top: 45px !important;
}

.m-t-50 {
    margin-top: 50px !important;
}

.m-t-65 {
    margin-top: 65px !important;
}

.m-b-0 {
    margin-bottom: 0 !important;
}

.m-b-1 {
    margin-bottom: 1px !important;
}

.m-b-2 {
    margin-bottom: 2px !important;
}

.m-b-3 {
    margin-bottom: 3px !important;
}

.m-b-4 {
    margin-bottom: 4px !important;
}

.m-b-5 {
    margin-bottom: 5px !important;
}

.m-b-6 {
    margin-bottom: 6px !important;
}

.m-b-7 {
    margin-bottom: 7px !important;
}

.m-b-8 {
    margin-bottom: 8px !important;
}

.m-b-9 {
    margin-bottom: 9px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-b-11 {
    margin-bottom: 11px !important;
}

.m-b-12 {
    margin-bottom: 12px !important;
}

.m-b-13 {
    margin-bottom: 13px !important;
}

.m-b-14 {
    margin-bottom: 14px !important;
}

.m-b-15 {
    margin-bottom: 15px !important;
}

.m-b-16 {
    margin-bottom: 16px !important;
}

.m-b-17 {
    margin-bottom: 17px !important;
}

.m-b-18 {
    margin-bottom: 18px !important;
}

.m-b-19 {
    margin-bottom: 19px !important;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.m-b-21 {
    margin-bottom: 21px !important;
}

.m-b-22 {
    margin-bottom: 23px !important;
}

.m-b-24 {
    margin-bottom: 24px !important;
}

.m-b-25 {
    margin-bottom: 25px !important;
}

.m-b-30 {
    margin-bottom: 30px !important;
}

.m-b-35 {
    margin-bottom: 35px !important;
}

.m-b-40 {
    margin-bottom: 40px !important;
}

.m-b-45 {
    margin-bottom: 45px !important;
}

.m-b-50 {
    margin-bottom: 50px !important;
}

.m-l-0 {
    margin-left: 0 !important;
}

.m-l-1 {
    margin-left: 1px !important;
}

.m-l-2 {
    margin-left: 2px !important;
}

.m-l-3 {
    margin-left: 3px !important;
}

.m-l-4 {
    margin-left: 4px !important;
}

.m-l-5 {
    margin-left: 5px !important;
}

.m-l-6 {
    margin-left: 6px !important;
}

.m-l-7 {
    margin-left: 7px !important;
}

.m-l-8 {
    margin-left: 8px !important;
}

.m-l-9 {
    margin-left: 9px !important;
}

.m-l-10 {
    margin-left: 10px !important;
}

.m-l-11 {
    margin-left: 11px !important;
}

.m-l-12 {
    margin-left: 12px !important;
}

.m-l-13 {
    margin-left: 13px !important;
}

.m-l-14 {
    margin-left: 14px !important;
}

.m-l-15 {
    margin-left: 15px !important;
}

.m-l-16 {
    margin-left: 16px !important;
}

.m-l-17 {
    margin-left: 17px !important;
}

.m-l-18 {
    margin-left: 18px !important;
}

.m-l-19 {
    margin-left: 19px !important;
}

.m-l-20 {
    margin-left: 20px !important;
}

.m-l-21 {
    margin-left: 21px !important;
}

.m-l-22 {
    margin-left: 23px !important;
}

.m-l-24 {
    margin-left: 24px !important;
}

.m-l-25 {
    margin-left: 25px !important;
}

.m-l-30 {
    margin-left: 30px !important;
}

.m-l-35 {
    margin-left: 35px !important;
}

.m-l-40 {
    margin-left: 40px !important;
}

.m-l-45 {
    margin-left: 45px !important;
}

.m-l-50 {
    margin-left: 50px !important;
}

.m-r-0 {
    margin-right: 0 !important;
}

.m-r-1 {
    margin-right: 1px !important;
}

.m-r-2 {
    margin-right: 2px !important;
}

.m-r-3 {
    margin-right: 3px !important;
}

.m-r-4 {
    margin-right: 4px !important;
}

.m-r-5 {
    margin-right: 5px !important;
}

.m-r-6 {
    margin-right: 6px !important;
}

.m-r-7 {
    margin-right: 7px !important;
}

.m-r-8 {
    margin-right: 8px !important;
}

.m-r-9 {
    margin-right: 9px !important;
}

.m-r-10 {
    margin-right: 10px !important;
}

.m-r-11 {
    margin-right: 11px !important;
}

.m-r-12 {
    margin-right: 12px !important;
}

.m-r-13 {
    margin-right: 13px !important;
}

.m-r-14 {
    margin-right: 14px !important;
}

.m-r-15 {
    margin-right: 15px !important;
}

.m-r-16 {
    margin-right: 16px !important;
}

.m-r-17 {
    margin-right: 17px !important;
}

.m-r-18 {
    margin-right: 18px !important;
}

.m-r-19 {
    margin-right: 19px !important;
}

.m-r-20 {
    margin-right: 20px !important;
}

.m-r-21 {
    margin-right: 21px !important;
}

.m-r-22 {
    margin-right: 23px !important;
}

.m-r-24 {
    margin-right: 24px !important;
}

.m-r-25 {
    margin-right: 25px !important;
}

.m-r-30 {
    margin-right: 30px !important;
}

.m-r-35 {
    margin-right: 35px !important;
}

.m-r-40 {
    margin-right: 40px !important;
}

.m-r-45 {
    margin-right: 45px !important;
}

.m-r-50 {
    margin-right: 50px !important;
}

.p-0 {
    padding: 0 !important;
}

.p-t-0 {
    padding-top: 0 !important;
}

.p-t-1 {
    padding-top: 1px !important;
}

.p-t-2 {
    padding-top: 2px !important;
}

.p-t-3 {
    padding-top: 3px !important;
}

.p-t-4 {
    padding-top: 4px !important;
}

.p-t-5 {
    padding-top: 5px !important;
}

.p-t-6 {
    padding-top: 6px !important;
}

.p-t-7 {
    padding-top: 7px !important;
}

.p-t-8 {
    padding-top: 8px !important;
}

.p-t-9 {
    padding-top: 9px !important;
}

.p-t-10 {
    padding-top: 10px !important;
}

.p-t-11 {
    padding-top: 11px !important;
}

.p-t-12 {
    padding-top: 12px !important;
}

.p-t-13 {
    padding-top: 13px !important;
}

.p-t-14 {
    padding-top: 14px !important;
}

.p-t-15 {
    padding-top: 15px !important;
}

.p-t-16 {
    padding-top: 16px !important;
}

.p-t-17 {
    padding-top: 17px !important;
}

.p-t-18 {
    padding-top: 18px !important;
}

.p-t-19 {
    padding-top: 19px !important;
}

.p-t-20 {
    padding-top: 20px !important;
}

.p-t-21 {
    padding-top: 21px !important;
}

.p-t-22 {
    padding-top: 23px !important;
}

.p-t-24 {
    padding-top: 24px !important;
}

.p-t-25 {
    padding-top: 25px !important;
}

.p-t-30 {
    padding-top: 30px !important;
}

.p-t-35 {
    padding-top: 35px !important;
}

.p-t-40 {
    padding-top: 40px !important;
}

.p-t-45 {
    padding-top: 45px !important;
}

.p-t-50 {
    padding-top: 50px !important;
}

.p-b-0 {
    padding-bottom: 0 !important;
}

.p-b-1 {
    padding-bottom: 1px !important;
}

.p-b-2 {
    padding-bottom: 2px !important;
}

.p-b-3 {
    padding-bottom: 3px !important;
}

.p-b-4 {
    padding-bottom: 4px !important;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.p-b-6 {
    padding-bottom: 6px !important;
}

.p-b-7 {
    padding-bottom: 7px !important;
}

.p-b-8 {
    padding-bottom: 8px !important;
}

.p-b-9 {
    padding-bottom: 9px !important;
}

.p-b-10 {
    padding-bottom: 10px !important;
}

.p-b-11 {
    padding-bottom: 11px !important;
}

.p-b-12 {
    padding-bottom: 12px !important;
}

.p-b-13 {
    padding-bottom: 13px !important;
}

.p-b-14 {
    padding-bottom: 14px !important;
}

.p-b-15 {
    padding-bottom: 15px !important;
}

.p-b-16 {
    padding-bottom: 16px !important;
}

.p-b-17 {
    padding-bottom: 17px !important;
}

.p-b-18 {
    padding-bottom: 18px !important;
}

.p-b-19 {
    padding-bottom: 19px !important;
}

.p-b-20 {
    padding-bottom: 20px !important;
}

.p-b-21 {
    padding-bottom: 21px !important;
}

.p-b-22 {
    padding-bottom: 23px !important;
}

.p-b-24 {
    padding-bottom: 24px !important;
}

.p-b-25 {
    padding-bottom: 25px !important;
}

.p-b-30 {
    padding-bottom: 30px !important;
}

.p-b-35 {
    padding-bottom: 35px !important;
}

.p-b-40 {
    padding-bottom: 40px !important;
}

.p-b-45 {
    padding-bottom: 45px !important;
}

.p-b-50 {
    padding-bottom: 50px !important;
}

.p-l-0 {
    padding-left: 0 !important;
}

.p-l-1 {
    padding-left: 1px !important;
}

.p-l-2 {
    padding-left: 2px !important;
}

.p-l-3 {
    padding-left: 3px !important;
}

.p-l-4 {
    padding-left: 4px !important;
}

.p-l-5 {
    padding-left: 5px !important;
}

.p-l-6 {
    padding-left: 6px !important;
}

.p-l-7 {
    padding-left: 7px !important;
}

.p-l-8 {
    padding-left: 8px !important;
}

.p-l-9 {
    padding-left: 9px !important;
}

.p-l-10 {
    padding-left: 10px !important;
}

.p-l-11 {
    padding-left: 11px !important;
}

.p-l-12 {
    padding-left: 12px !important;
}

.p-l-13 {
    padding-left: 13px !important;
}

.p-l-14 {
    padding-left: 14px !important;
}

.p-l-15 {
    padding-left: 15px !important;
}

.p-l-16 {
    padding-left: 16px !important;
}

.p-l-17 {
    padding-left: 17px !important;
}

.p-l-18 {
    padding-left: 18px !important;
}

.p-l-19 {
    padding-left: 19px !important;
}

.p-l-20 {
    padding-left: 20px !important;
}

.p-l-21 {
    padding-left: 21px !important;
}

.p-l-22 {
    padding-left: 23px !important;
}

.p-l-24 {
    padding-left: 24px !important;
}

.p-l-25 {
    padding-left: 25px !important;
}

.p-l-30 {
    padding-left: 30px !important;
}

.p-l-35 {
    padding-left: 35px !important;
}

.p-l-40 {
    padding-left: 40px !important;
}

.p-l-45 {
    padding-left: 45px !important;
}

.p-l-50 {
    padding-left: 50px !important;
}

.p-r-0 {
    padding-right: 0 !important;
}

.p-r-1 {
    padding-right: 1px !important;
}

.p-r-2 {
    padding-right: 2px !important;
}

.p-r-3 {
    padding-right: 3px !important;
}

.p-r-4 {
    padding-right: 4px !important;
}

.p-r-5 {
    padding-right: 5px !important;
}

.p-r-6 {
    padding-right: 6px !important;
}

.p-r-7 {
    padding-right: 7px !important;
}

.p-r-8 {
    padding-right: 8px !important;
}

.p-r-9 {
    padding-right: 9px !important;
}

.p-r-10 {
    padding-right: 10px !important;
}

.p-r-11 {
    padding-right: 11px !important;
}

.p-r-12 {
    padding-right: 12px !important;
}

.p-r-13 {
    padding-right: 13px !important;
}

.p-r-14 {
    padding-right: 14px !important;
}

.p-r-15 {
    padding-right: 15px !important;
}

.p-r-16 {
    padding-right: 16px !important;
}

.p-r-17 {
    padding-right: 17px !important;
}

.p-r-18 {
    padding-right: 18px !important;
}

.p-r-19 {
    padding-right: 19px !important;
}

.p-r-20 {
    padding-right: 20px !important;
}

.p-r-21 {
    padding-right: 21px !important;
}

.p-r-22 {
    padding-right: 23px !important;
}

.p-r-24 {
    padding-right: 24px !important;
}

.p-r-25 {
    padding-right: 25px !important;
}

.p-r-30 {
    padding-right: 30px !important;
}

.p-r-35 {
    padding-right: 35px !important;
}

.p-r-40 {
    padding-right: 40px !important;
}

.p-r-45 {
    padding-right: 45px !important;
}

.p-r-50 {
    padding-right: 50px !important;
}
